.App {
  text-align: center;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: f;
  src:url("./fonts/q.ttf");
}
body{
  background:#d3d3d347;
  font-family: f;
  color:#000000d1;
}.post{
  position: absolute;
  top:50%;
  left: 50%;
transform: translate(-50% , -50%);
width: 500px;
border-radius: 10px;
background: white;
}  .head{
  display: flex;
  border-radius:10px;
  padding: 15px;
  background: white;
  align-items: center;
  justify-content: space-between;
}.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50px;

}.name_profile{
  display: flex;
  align-items: center;
}.q{
  margin-left: 10px;
}.q p{
  color:grey;
  font-size: 13px;
}.svg{
  height: 23px;
  width: 23px;

}.body{
  padding-left: 15px;
  padding-right: 15px;

}.body p{
  font-size: 14px;
}.post_image{
  margin:auto;
  height: 250px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}.btm_icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}.left_icon{
  margin-left: 10px;
  margin-top:15px;
}.margin{
  margin-left: 15px;
}.right_icon{margin-top:15px;

}form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}.ico{
  width: 40px;
  height: 40px;
  border-radius: 50px;

}.in{
  background: transparent;
  border:none;
  outline: none;
  margin-left: 15px;

}.flex{
  display: flex;
  align-items: center;

}form{
  background: #d3d3d347;
border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top:20px;
}